root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,cc,h,hpp,inc,rc,json,cfg,toml,md,txt,cmake}]
indent_style = tab
tab_width = 4

[*.py]
indent_style = space
indent_size = 4

[*.{yaml,yml,fnt}]
indent_style = space
indent_size = 2
