# Editor
.vs/
.vscode/
[Cc][Mm]ake[Ss]ettings.json
[Tt][Oo][Dd][Oo].md

# BMFont
*.exe
*.bmfc

# Python
.env/
.venv/
env/
venv/
__pycache__/

# Build
leviathan.7z
build/
mingw/
helper/
[Dd]ebug/
[Rr]elease/
[Mm]in[Ss]ize[Rr]el/
[Rr]el[Ww]ith[Dd]eb[Ii]nfo/

# Imgui
imgui_log.txt
imgui.ini

# Game
boot.cfg
AS_DEBUG/
data/save/
data/save
data/init/
data/init
