.vs/
.vscode/
AS_DEBUG/
build/
test/
out/
data/save/file_0/cpntflag.bin
data/save/file_0/cpntstat.cfg
data/save/file_0/progflag.bin
data/save/file_0/progstat.cfg
data/save/file_1/cpntflag.bin
data/save/file_1/cpntstat.cfg
data/save/file_1/progflag.bin
data/save/file_1/progstat.cfg
data/save/file_2/cpntflag.bin
data/save/file_2/cpntstat.cfg
data/save/file_2/progflag.bin
data/save/file_2/progstat.cfg
CMakeSettings.json
imgui.ini
