# Editor
.vs/
.vscode/
[Cc][Mm]ake[Ss]ettings.json
[Tt][Oo][Dd][Oo].md

# Font
*.exe
*.ttf
*.bmfc

# Python
.env/
.venv/
env/
venv/
__pycache__/

# Build
build/
mingw/
helper/
output/
[Dd]ebug/
[Rr]elease/
[Mm]in[Ss]ize[Rr]el/
[Rr]el[Ww]ith[Dd]eb[Ii]nfo/

# Game
AS_DEBUG/
data/save/
data/init/
imgui_log.txt
imgui.ini
